<!DOCTYPE html>
<html>
<head>
	<title>Raspberry Cook</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/recipes">Recipes</a></li>
			</ul>
		</nav>
	</header>
	<h1>Raspberry Cook</h1>
</body>
</html>