<!DOCTYPE html>
<html>
<head>
	<title>Raspberry Cook</title>
</head>
<body>

	<head>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/recipes">Recipes</a></li>
			</ul>
		</nav>
	</head>

	{{~> content}}
</body>
</html>