{{#*inline "content"}}
<h1><a href="/recipes/{{id}}">{{name}}</a></h1>

<a href="/recipes/{{id}}/edit" class="btn btn-secondary">Edit</a>
<!-- delete button -->
<form action="/recipes/{{id}}" method="post">
	<input type="hidden" name="_method" value="delete" />
    <input type="submit" class="btn btn-danger" value="Delete">
</form>
{{/inline}}
{{~> layouts/main~}}